html{
    overflow: auto;
}
.instruction{
    width: 40%;
    min-width: 400px;
    background-color: rgba(255,255,255, 0.3);
    margin-left: 470px;
    margin-top: 0px;
    border: grey 10px;
    border-style: double;
    border-radius: 20px;
    padding: 0 20px;
    color: grey;
}

.instruction h2 {
    color: #ff914d;
    text-align: center;
}

.instruction h3 {
    color: #ff914d;
}

ul{
    list-style-type:circle;
}

ul li{
    padding: 0;
}

.buttonWrapper{
    width: 200px;
    margin-right: -50px;
    /* background-color: #66a18f; */
    float: right;
    margin-top: -100px;
}

.btn{
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
}

#plane{
    position: absolute;
	/* float: left; */
    margin-left: -50px;
	margin-top: 0px;
	width:572px;
	height:600px;
	background-size: contain;
}