#wrapper {
    margin: 10px auto;
    width: 99% ;
    height : 90%;
}
#image {
    width: 40%;
    float: left;
}
#container {
    width: 40%;
    overflow: scroll;
}
.container{
    /* min-width: 400px; */
    margin-left: 350px;
    margin-top: 0px;
    padding-left: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    margin-top: 0px;
    height: 500px;
    width: 500px;
}

.buttonContainer{
    margin: -100px 40px;
}

.buttonWrapper{
    margin-top: 30px;
    width: fit-content;
    /* margin-inline: 110px; */
    /* background-color: #66a18f; */
    background-color: #ff914d;
    /* background-color: rgb(0, 153, 204); */
	border-radius: 10px;

}

#plane{
    position: static;
	/* float: left; */
	margin-top: 0px;
	width:572px;
	height:600px;
}
